body {
  background: url( "../graphics/bg2.png" );
  color: #fff;
}

hr {
  margin-top: 20px;
  border-color: 4b137e;
  border-style: dashed;
}

a, a:visited {
  color: #DFB5FF;
  padding: 5px;
}

a:hover {
  color: #000;
  background: #FFFC96;
  padding: 5px;
}

nav ol {
  font-size: 1.2em;
}

ol li strong {
  color: #FAF439;
}

ol li .description {
  display: block; 
  font-size: 12pt;
}

header {
  /*background: rgba( 0, 0, 0, 0.5 );*/
  position:relative;
}

header p {
  padding: 0; 
  margin: 0;
}

header .home-link {
  position: absolute;
  top: 10px;
  left: 10px;
}

header .course-info {
  color: #fff;
  text-align: center;
}

header .course-info-text {
  color: #fff;
}

header .course-info-image img {
  width: 100%;
}

header .course-info .title {
  font-weight: bold;
  font-size: 2em;
}

header .course-info .chapter {
  font-weight: bold;
  font-size: 1.5em;
}

header .course-info .author {
  font-weight: bold;
  font-size: 1.2em;
}

header .course-info .thumbnail img {
  height: 200px;
}

footer {
  padding-top:25px;
  padding-bottom: 25px;
  margin-top: 200px;
  background: rgba( 0, 0, 0, 0.5 );
  text-align: center;
  font-size: 0.9em;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

footer p {
  margin: 0;
  padding: 0;
}

.clear {
  clear:both;
}

.in-text-image {
  margin: 20px;
  width: 35%;
}

.in-text-image img {
  width: 100%;
}

.float-right {
  float: right;
}

.citation {
  font-size: 10pt;
  text-align: center;
  display: block;
}

.footnote {
  font-size: 10pt;
}

.center {
  text-align: center;
}

pre {
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
}

pre.pseudocode {
  border: dashed 2px #49C5FF;
  background: #004566;
  color: #fff;
  width: 500px;
}

pre.console {
  border: dashed 2px #B0B0B0;
  background: #131313;
  color: #B0B0B0;
  width: 500px;
}

pre.code {
  border: dashed 2px #97FF86;
  background: #004514;
  color: #97FF86;
  width: 500px;
}

pre.file {
  border: dashed 2px #000;
  background: #fff;
  color: #000;
  width: 500px;
}

.math {
  font-size: 16pt;
  font-style: italic;
  font-family: serif;
  margin-left: 10px;
  margin-right: 10px;
  color: #FFF4BD;
}

h2 a {
  text-decoration: none;
  font-size: 0.7em;
}

.main-view {
  background: #303030;
  border-top: solid 2px #000;
}
